@font-face {
  font-family: 'UltraRegular';
  src: url("../fonts/Ultra-webfont.eot");
  src: url("../fonts/Ultra-webfont.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/Ultra-webfont.woff") format("woff"), 
       url("../fonts/Ultra-webfont.ttf") format("truetype"), 
       url("../fonts/Ultra-webfont.svg#UltraRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul{
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  line-height:1.25;
}
/* header */
header{
  height:32px;
  background:#333;
  color:white;
  line-height:32px;
  text-align:right;
}
nav {
  width:960px;
  margin:0 auto;
}
nav a {
  color:white;
  margin:0 10px;
}
nav a:hover {
  color:#efefef;
  background:#9C9C9C;
}
h1{
  float:left;
  font-size:24px;
  font-family:"UltraRegular", Georgia, sans-serif;
  float: left;
  line-height: 32px;
  font-size: 24px;
  font-weight: normal;
  padding: 0 10px;
}
h1 a {
  color: #fff;
  text-decoration: none;
}
h1 a:hover {
  background:none;
}