<!DOCTYPE html> 
<html> 
<head> 
<meta charset="utf-8">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="/static/css/common.css" />
<!--[if lt IE 9]>
<script src="/static/js/html5.js"></script>
<![endif]-->
</head>
 
<body>

<header>
  <nav>
    <h1>
      <a href="/">Table's</a>
    </h1>
    <a href="https://github.com/taberhuang">Github</a>
    <a href="http://www.scoop.it/u/taberh">Scoop.it</a>
    <a href="/project">Project</a>
  </nav>
</header>

{{ content }}

<script type="text/javascript">
_gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-23358884-1']);
_gaq.push(['_trackPageview']);
(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</body> 
</html>